.heading{
    display: grid;
    background-color: rgb(32, 53, 168);
    color: white;
    padding: 0.5em;
    height: 80px;
}
.menu
{
    padding: 1.1em;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    text-align: center;
}
li{
    list-style: none;
    width: 120px;
    height: 20px;
    margin: 15px;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.phead{
    text-align: center;
    position: relative;
    left: 200px;
}
.phead h1{
    width: 700px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
ul{
    display: inline-flex;
    position: relative;
    left: 280px;
    top: -40px;
    width: 700px;
}
.heading ul{
    display: inline-flex;
    position: relative;
    left: 280px;
    top: -40px;
    width: 800px;
}
h1{
    position: relative;
    top: 15px;
}
a{
    text-decoration: none;
    color: white;
}
 li:hover{
    background-color: rgb(30, 99, 190);
    border-radius: 3px;
}
.light{
    background-color: rgb(68, 93, 233);
    border-radius: 3px;
}
.decision{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 400px;
}
.decision_2{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 400px;
}
.decision_3{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 400px;
}
.Individual{
    height: 540px;
    display: flex;
    justify-content: center;
    line-height: 500px;
    background-color: rgb(238, 92, 226);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.Entry{
    height: 540px;
    display: flex;
    justify-content: center;
    line-height: 500px;
    background-color: rgb(238, 92, 226);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.Customer{
    height: 540px;
    display: flex;
    justify-content: center;
    line-height: 500px;
    background-color: rgb(238, 92, 226);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.View{
    height: 540px;
    display: flex;
    justify-content: center;
    line-height: 500px;
    background-color: rgb(223, 233, 81);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.Courier{
    height: 540px;
    display: flex;
    justify-content: center;
    line-height: 500px;
    background-color: rgb(223, 233, 81);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.Admin{
    height: 540px;
    display: flex;
    justify-content: center;
    line-height: 500px;
    background-color: rgb(223, 233, 81);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.Individual:hover{
    background-color: rgb(247, 137, 237);
}
.Entry:hover{
    background-color: rgb(247, 137, 237);
}
.Customer:hover{
    background-color: rgb(247, 137, 237);
}
.View:hover{
    background-color: rgb(237, 243, 146);
}
.Courier:hover{
    background-color: rgb(237, 243, 146);
}
.Admin:hover{
    background-color: rgb(237, 243, 146);
}
.read h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.read_2 h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.form{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.form_2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.edit{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(197, 195, 195);
}
.cbtn{
    width: 120px;
    height: 40px;
    background-color: rgb(55, 55, 218);
    color: white;
    border-radius: 5px;
    border-color: rgb(55, 55, 218);
}
.form{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0.5em;
}
.all{
    padding: 0.5em;
    width: 700px;
    border-radius: 10px;
    border: 5px solid rgb(209, 208, 208);
    position: relative;
    left: 280px;
    top: 70px;
    background-color: rgb(32, 53, 168);
}
.sign h3{
    color: white;
}
.sign{
    position: relative;
    left: 55px;
}
.sname{
    position: relative;
    top: 30px;
    left: 90px;
    width: 200px;
}
.tname{
    position: relative;
    top: 30px;
    left: 2px;
    width: 120px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
tr:nth-child(odd){
    background-color: rgb(140, 140, 141);
}
th{
    color: white;
}
.table{
    width: 800px;
}
.sub-menu{
    display: none;
}
.heading h1{
    width: 300px;
}
h4{
    width: 120px;
}
.five{
    width: 150px;
}
.centre{
    padding: 0.5em;
    width: 600px;
    border-radius: 10px;
    border: 3px solid rgb(209, 208, 208);
    position: relative;
    left: 350px;
    top: 100px;
    background-color: white;
    box-shadow: rgba(60, 66, 87, 0.12) 2px 10px 14px 2px, rgba(0, 0, 0, 0.12) 2px 3px 6px 2px;
}
.read_2 h1{
    color: black;
}
.sibtn2{
    background-color: rgb(55, 55, 218);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 354px;
    position: relative;
    top: -30px;
}
.Sign_In_2_html{
    background-color: white;
    height: 540px;
}
.Sign_In_html{
    background-color: white;
    height: 540px;
}
.read h1{
    color: black;
}
.sibtn{
    background-color: rgb(55, 55, 218);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 354px;
    position: relative;
    top: -30px;
}
label{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.last2{
    background-color: rgb(158, 158, 156);
    height: 830px;
}
.table{
    position: relative;
    left: 250px;
    top: 100px;
    box-shadow: 5px 10px 8px #888888;
}
.contain1{
    background-color: rgb(255, 255, 255);
    height: 540px;
}
.log_package{
    padding: 2em;
    width: 600px;
    border-radius: 10px;
    border: 3px solid rgb(209, 208, 208);
    box-shadow: rgba(60, 66, 87, 0.12) 2px 10px 14px 2px, rgba(0, 0, 0, 0.12) 2px 3px 6px 2px;
    position: relative;
    left: 350px;
    top: 30px;
    background-color: rgb(255, 255, 255);
}
.sibtn3{
    background-color: rgb(55, 55, 218);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}
.pview{
    color: rgb(56, 55, 55);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
.countain_log{
    background-color: rgb(255, 255, 255);
    height: 540px;
}
.bar{
    text-align: center;
    position: relative;
    top: 10px;
}
.label{
    width: 1100px;
    border: 10px solid #687291;
    border-radius: 20px;
}
.show2{
    text-align: center;
}
.print{
    padding: 1em;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    position: relative;
    left: 220px;
}
.twin1{
    text-align: center;
    padding: 00.5em;
}
.id{
    position: relative;
    left: 100px;
}
.weight{
    text-align: center;
}
.num{
    position: relative;
    left: 400px;
    top: -20px;
}
.fragile{
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;
    color: red;
    text-align: center;
    height: 40px;
    width: 150px;
    padding: 0.25em;
    position: relative;
    left: 300px;
    top: -20px;
}
.frag{
    position: relative;
    top: -0.7px;
}
.arrange1{
    position: relative;
    left: 50px;
}
.comp{
    border: 3px solid rgb(0, 0, 0);
    width: 500px;
    position: relative;
    left: -19px;
    padding: 1em;
}
.comp h4{
    width: 200px;
}
.sts{
    position: relative;
    left: 25px;
}
.phead{
    display: grid;
    grid-template-columns: 60% 40%;
}
.pbtn{
    text-align: center;
    position: relative;
    top: -20px;
    left: -300px;
}
.pbtn button{
    background-color: rgb(55, 55, 218);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 120px;
}
.third_2{
    position: relative;
    left: 15px;
}
.drop1{
    display: none;
}
.drop2{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(32, 53, 168);
    width: 185px;
    height: 130px;
    z-index: 1;
}
.drop ul:hover .drop{
    display: block;
}
.trial1{
    position: relative;
    left: -275px;
    top: 20px;
}
.trial2{
    position: relative;
    left: -458px;
    top: 80px;
}
.bar button{
    padding: 0.5em;
    background-color: rgb(55, 55, 218);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 60px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 120px;
}
.drop_menu1{
    display: none;
}
.drop_menu2{
    display: block;
    position: relative;
    left: -10px;
    top: 100%;
    background-color: rgb(32, 53, 168);
    width: 140px;
    height: 140px;
    z-index: 1;
}
.drop_menu2 ul{
    display: block;
    margin: 10px;
    position: relative;
    left: -10px;
    top: 0.05px;
    width: 130px;
}
.drop_menu2 ul li{
    width: 90px;
    padding: 10px;
}
hr{
    position: relative;
    left: 5px;
}
.first_hr{
    position: relative;
    top: 8px;
    width: 128px;
}
